%%% -*- mode: erlang -*-

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.0"}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", "0.8.1"}},
        {hamcrest, ".*", {git, "https://github.com/hyperthunk/hamcrest-erlang.git", "master"}}
       ]
}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.

{erl_opts, [{parse_transform, lager_transform}]}.
